extends layout

block content
	.container
		h1 About Us
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur magnam asperiores aspernatur, animi eaque perferendis soluta voluptatem, porro minus, cum labore vero quibusdam numquam dolorem obcaecati enim sed, nobis. Perspiciatis!
		ul
			li listitem1
			li listitem2
			li listitem3
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt dicta facilis facere aspernatur ipsum, soluta similique asperiores nostrum, et deserunt cupiditate quibusdam ut eaque id officiis. Maiores, aspernatur fuga omnis!