extends layout

block content
	.jumbotron
		.container
			h1 How may I help you?
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam amet facilis asperiores max.
			a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
	.container
		.row
			.col-md-4
				h2 About Us
				p  Ias quia perspiciatis nostrum necessitatibus excepturi quasi reiciendis, ad magni et, commodi sapiente. Sit, molestias, consectetur?
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Services
				p  Ias quia perspiciatis nostrum necessitatibus excepturi quasi reiciendis, ad magni et, commodi sapiente. Sit, molestias, consectetur?
				a.btn.btn-default(href='#') View Details
			.col-md-4
				h2 Get In Touch
				p  Ias quia perspiciatis nostrum necessitatibus excepturi quasi reiciendis, ad magni et, commodi sapiente. Sit, molestias, consectetur?
				a.btn.btn-default(href='#') View Details
